*{
  margin: 0;
  padding: 0px;
}

.navigation-icons a {
    position:relative;
    color: rgb(255, 255, 255) !important;
    display: block;
    padding: 15px;
    transition: all 0.5s ease;
  }

  .navigation-icons a:hover {
    
    color: white;
    border-radius: 8px;
   

  }

  .nav-link{
    display: flex;
    align-items: center;
  }
  .link{
    top: 280px;
    left: 30px;
  }
  @supports(-moz-appearance: none){
    .link{
    top: 180px;
    left: 30px;
  }
  }
  .nav-link-home a:hover {
    background-color: #031ca7; 
    
  }
  .nav-link-event a:hover {
    background-color: #7e7c03; 
    margin-right: 10px;
  
  }
  .nav-link-developers a:hover {
    background-color: #007724; 
    
  }
  .nav-link-community a:hover {
    background-color: #7f6600; 
    
  }
  .nav-link-contact a:hover {
    background-color: #058db2; 
    
  }
  .material-icons {
   top:10;
   margin-right: 10px;
   font-size: 37px !important;

  }
  .nav-item {
    display: none;
  }
  
 
  .nav-link:hover .nav-item {
    display: inline-block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  .nav-name{
    position:absolute;
    margin-top: 10px;
 }

 .sidebar-body {
  background-color: #171718;
  height: 100%;
  padding: 30px 0px;
 }

 .sidebar-list {
  list-style: none;
 }

 .sidebar-para {
  color: white;
  margin: 0px;
 }

 .sidebar-anchor {
  display: flex;
  align-items: center;
  text-decoration: none;
 }

 .custom-icon-style {
  color: white;
  font-size: 24px !important;
 }

 #toggle-bn{
  margin-right: 10px;
 }
 
 @media (max-width:460px){
  a{
    position: relative;
    display: table;
    padding: 10px;
    top: 0;
    left: 0;
  }
 } 